{% INCLUDECSS 'css/metainfo_acp.css' %}
{% INCLUDE 'overall_header.html' %}

<a id="maincontent"></a>

	<h1 class="metainfo-page-title">{{ lang('ACP_METAINFO_PAGE_TITLE') }}	</h1>
	<p>{{ lang('METAINFO_CONFIG_DESC', METAINFO_EXT_NAME, METAINFO_EXT_VER) ~ lang('ACP_METAINFO_PAGE_TITLE_EXPLAIN') }}</p>
	<br>
	<p class="metainfo-set-title">{{ lang('ACP_METAINFO_SET_TITLE') }}</p>
	<form id="acp_metainfo" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('CMI_META_DATA') }}</legend>
		<fieldset id="cmi-warning">
		<p id="cmi-title">{{ lang('CMI_TITLE-TAG') }}</p>
		<p id="warning-cmi">{{ lang('CMI_TITLE-TAG_EXPLAIN1') }}<a href="{U_BORD_META}"><b>{{ lang('ACP_BOARD_SETTINGS') }}</b></a>{{ lang('CMI_TITLE-TAG_EXPLAIN2') }}</p>
		<dl>
			<dt><label for="cmi_site_desc">{{ lang('CMI_SITE_DESC') ~ lang('COLON') }}</label><br><span>{{ lang('CMI_SITE_DESC_EXPLAIN') }}<br><br><a href="{U_BORD_META}"><b>{{ lang('ACP_BOARD_SETTINGS') }}</b></a></span></dt>
			<dd>
				<input type="text" name="cmi_site_desc" id="cmi_site_desc" maxlength="255" size="40" value="{{ CMI_SITE_DESC }}"  />
			</dd>
		</dl>
		<dl>
			<dt><label for="cmi_sitename">{{ lang('CMI_SITE_NAME') ~ lang('COLON') }}</label><br><span>{{ lang('CMI_SITE_NAME_EXPLAIN') }}<br><br><a href="{U_BORD_META}"><b>{{ lang('ACP_BOARD_SETTINGS') }}</b></a></span></dt>
			<dd>
				<input type="text" name="cmi_sitename" id="cmi_sitename" maxlength="255" size="40" value="{{ CMI_SITENAME }}" />
			</dd>
		</dl>
		</fieldset>
		<dl>
			<dt><label for="cmi_meta_description">{{ lang('CMI_META_DESCRIPTION') ~ lang('COLON') }}</label><br><span>{{ lang('CMI_META_DESCRIPTION_EXPLAIN') }}</span></dt>
			<dd>
				<textarea name="cmi_meta_description" id="cmi_meta_description" maxlength="160" placeholder="{{ lang('MT_DESCRIPTION') }}">{{ CMI_META_DESCRIPTION }}</textarea>
			</dd>
		</dl>
		<dl>
			<dt><label for="cmi_meta_keywords">{{ lang('CMI_META_KEYWORDS') ~ lang('COLON') }}</label><br><span>{{ lang('CMI_META_KEYWORDS_EXPLAIN') }}</span></dt>
			<dd>
				<textarea name="cmi_meta_keywords" id="cmi_meta_keywords" maxlength="255" placeholder="{{ lang('MT_KEYWORDS') }}">{{ CMI_META_KEYWORDS }}</textarea>
			</dd>
		</dl>
		</fieldset>
		<fieldset>
		<legend>{{ lang('CMI_META_GOOGLE_SITE_VERIFICATION_ENABLE') }}</legend>
		<dl>
			<dt><label for="cmi_meta_google_site_verification_enable">{{ lang('CMI_META_GOOGLE_SITE_VERIFICATION_ENABLE') ~ lang('COLON') }}</label><br /><span>{{ lang('CMI_META_GOOGLE_SITE_VERIFICATION_ENABLE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="cmi_meta_google_site_verification_enable" value="1"{% if CMI_META_GOOGLE_SITE_VERIFICATION_ENABLE %} id="cmi_meta_google_site_verification_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cmi_meta_google_site_verification_enable" value="0"{% if not CMI_META_GOOGLE_SITE_VERIFICATION_ENABLE %} id="cmi_meta_google_site_verification_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		{% if CMI_META_GOOGLE_SITE_VERIFICATION_ENABLE %}
		<dl>
			<dt><label for="cmi_meta_google_site_verification">{{ lang('CMI_META_GOOGLE_SITE_VERIFICATION') ~ lang('COLON') }}</label><br><span>{{ lang('CMI_META_GOOGLE_SITE_VERIFICATION_EXPLAIN') }}</span></dt>
			<dd>
				<input type="text" name="cmi_meta_google_site_verification" id="cmi_meta_google_site_verification" maxlength="255" size="40" value="{{ CMI_META_GOOGLE_SITE_VERIFICATION }}" placeholder="{{ lang('MT_GOOGLE_SITE_VERIFICATION') }}" />
			</dd>
		</dl>
		{% endif %}
	</fieldset>
	<fieldset>
	<legend>{{ lang('OG_DATA') }}</legend>
		<dl>
			<dt><label for="cmi_meta_open_graph_enable">{{ lang('CMI_META_OPEN_GRAPH_ENABLE') ~ lang('COLON') }}</label><br /><span>{{ lang('CMI_META_OPEN_GRAPH_ENABLE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="cmi_meta_open_graph_enable" value="1"{% if CMI_META_OPEN_GRAPH_ENABLE %} id="cmi_meta_open_graph_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cmi_meta_open_graph_enable" value="0"{% if not CMI_META_OPEN_GRAPH_ENABLE %} id="cmi_meta_open_graph_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		{% if CMI_META_OPEN_GRAPH_ENABLE %}
		<dl>
			<dt><label for="cmi_meta_og_url">{{ lang('CMI_META_OG_URL') ~ lang('COLON') }}</label><br /><span>{{ lang('CMI_META_OG_URL_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="cmi_meta_og_url" value="1"{% if CMI_META_OG_URL %} id="cmi_meta_og_url" checked="checked"{% endif %} /> {{ lang('CMI_META_OG_URL_MAN') }}</label>
				<label><input type="radio" class="radio" name="cmi_meta_og_url" value="0"{% if not CMI_META_OG_URL %} id="cmi_meta_og_url" checked="checked"{% endif %} /> {{ lang('CMI_META_OG_URL_DYN') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="cmi_meta_og_description">{{ lang('CMI_META_OG_DESCRIPTION') ~ lang('COLON') }}</label><br><span>{{ lang('CMI_META_OG_DESCRIPTION_EXPLAIN') }}</span></dt>
			<dd>
				<textarea name="cmi_meta_og_description" id="cmi_meta_og_description" maxlength="160" placeholder="{{ lang('OG_DESCRIPTION') }}">{{ CMI_META_OG_DESCRIPTION }}</textarea>
			</dd>
		</dl>
		<dl>
			<dt><label for="cmi_meta_og_locale">{{ lang('CMI_META_OG_LOCALE') ~ lang('COLON') }}</label><br><span>{{ lang('CMI_META_OG_LOCALE_EXPLAIN') }}</span></dt>
			<dd>
				<input type="text" name="cmi_meta_og_locale" maxlength="65" size="40" value="{{ CMI_META_OG_LOCALE }}" placeholder="{{ lang('OG_LOCALE') }}" />
			</dd>
			
		</dl>
		<dl>
			<dt><label for="cmi_fa_appid_enable">{{ lang('FA_APPID_ENABLE') ~ lang('COLON') }}</label><br /><span>{{ lang('FA_APPID_ENABLE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="cmi_fa_appid_enable" value="1"{% if CMI_FA_APPID_ENABLE %} id="cmi_fa_appid_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cmi_fa_appid_enable" value="0"{% if not CMI_FA_APPID_ENABLE %} id="cmi_fa_appid_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		{% if CMI_FA_APPID_ENABLE %}
		<dl>
			<dt><label for="cmi_fa_appid">{{ lang('FA_APPID') ~ lang('COLON') }}</label><br><span>{{ lang('FA_APPID_EXPLAIN') }}</span></dt>
			<dd>
				<input type="text" name="cmi_fa_appid" id="cmi_fa_appid" maxlength="65" size="40" value="{{ CMI_FA_APPID }}" placeholder="{{ lang('FA_APPID') }}" />
			</dd>
		</dl>
		{% endif %}
		{% endif %}
	</fieldset>
	<fieldset>
	<legend>{{ lang('FAVIC') }}</legend>	
		<dl>
			<dt><label for="favicon_enable">{{ lang('FAVICON_ENABLE') ~ lang('COLON') }}</label><br /><span>{{ lang('FAVICON_ENABLE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="cmi_favicon_enable" value="1"{% if CMI_FAVICON_ENABLE %} id="cmi_favicon_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cmi_favicon_enable" value="0"{% if not CMI_FAVICON_ENABLE %} id="cmi_favicon_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>
	<p class="metainfo_acp_copyright">
		{{ METAINFO_EXT_NAME }} &copy; Chris1278<br />
		{{ lang('METAINFO_LANG_DESC') }} {{ lang('METAINFO_LANG_EXT_VER') }} &bull; {{ lang('METAINFO_LANG_AUTHOR') }}
	</p>
	{S_FORM_TOKEN}
</form>
{% INCLUDE 'overall_footer.html' %}
